body {
  padding: 200px;
  background: url("../images/blackWhiteBooks.jpg") no-repeat center center fixed;
  background-size: cover;
  font-weight: bold;
  color: #fff;
}


.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.addBookButton {
  text-align: center;
  margin: 2% 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
  padding: 2%;
}

.bookContainer {
  margin: 0 2%;
}

.bookContainer img {
  height: 202px;
  width: 160px;
}

.bookHeadInfo {
  margin: 3% 0;
  display: flex;
  flex-direction: column;
}

.fa {
  cursor:pointer;
  font-size: 1.5em;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.modal {
  position: absolute,
  top: 50%,
  left: 50%,
  transform: translate(-50%, -50%),
  z-index: 9999,
  background: yellow;
}

.descriptionModal {
  color: rgb(0,0,0);
}

.bookText{
  color: black;
}

.addBookFormStyle {
  color: black;
  display: flex;
  flex-direction: column;
}
